*{
    margin:0;
}


body{

    
    font-family: 'Poppins', sans-serif;
}

.flexiable-content{

    display: flex;
    
}

section{

    margin-bottom: 180px;
}





.half-part{

    width: 50%;
    margin-left: 75px;
    margin-right: 20px;
}

.half-part img{

    width: 100%;
}

.half-part h1{

    font-size: 65px;
    margin-top: 8%;
}

.half-part h3{

    margin-top: 8%;
}

.half-part p{
    color:dimgray;
    margin-top: 2%;
}

.btn{

    margin-top: 2%;
    display: inline-block;
}

.orange-color{

    color:orange;
}

.btn{

    text-decoration: none;
    font-size: 18px;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color:white;
    font-weight: 600;
    padding:10px 15px;
    border-radius: 10px;
}

.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.dreambig{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}


.secondsectionmodify{

    margin-right: 116px;
}

.exp h1{

    font-size: 50px;
    margin-bottom: 2%;
}



.bg{

    box-shadow: 5px 5px 15px gray;
    margin-left: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.bg h1{

    font-size: 40px;
    
}

.baby{

    color:blue;
}

.full{

    color:purple;
}



#fullstack{

    border-left: 10px solid;
    border-image: linear-gradient(tomato,lightsalmon);
    border-image-slice: 1;
}

#baby{

    border-left: 10px solid;
    border-image: linear-gradient(blue,purple);
    border-image-slice: 1;
}